*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.router{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 64px;
  background: #000;
}
.links, .active{
  font-size: 22px;
  margin: 0 15px;
  text-decoration: none;
}
.links{
  color: #fff;
}
.active{
  color: green;
}
ul{
  list-style: none;
  width: 400px;
}
ul li{
  display: flex;
  justify-content: space-between;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin: 5px 0;
}