*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.router{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar{
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 70px;
}
.links{
  margin: 0 15px;
  font-size: 18px;
  text-decoration: none;
}
.active{
  color: green;
}

.input-btn{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 7px 15px;
  margin: 10px 5px;
  font-size: 17px;
  cursor: pointer;
}