
[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
#
# * Basic Settings
#
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/lib/mysql/mysql.sock
port		= 3306
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
skip-external-locking

max_connections        = 900
thread_cache_size      = 30
key_buffer_size		   = 16M
max_allowed_packet	   = 128M
thread_stack		   = 192K
thread_cache_size      = 8
wait_timeout           = 100
interactive_timeout    = 100
connect_timeout        = 1000
#
net_read_timeout       = 30
net_write_timeout      = 60
key_buffer_size		   = 16M
thread_stack		   = 192K

query_cache_type    = 1
query_cache_limit	= 0
query_cache_size    = 0


slow_query_log		  = 2
long_query_time     = 5

expire_logs_days	= 10
max_binlog_size   = 100M

innodb_buffer_pool_size      = 4GB
innodb_buffer_pool_instances = 4
innodb_read_io_threads       = 4
innodb_write_io_threads      = 4
innodb_log_buffer_size      = 8M
innodb_log_file_size        = 128M
innodb_max_dirty_pages_pct  = 80
innodb_lock_wait_timeout    = 120
innodb_autoextend_increment = 128M
innodb_thread_concurrency   = 16
innodb_flush_method         = O_DIRECT 

# For generating SSL certificates I recommend the OpenSSL GUI "tinyca".
# ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem
