*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
h1, h2{
  width: 100vw;
  text-align: center;
  margin: 10px 0;
}
.navbar{
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}
.links{
  margin: 0 15px;
  font-size: 18px;
}
.active{color: green;}
.router{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs{
  height: 34px;
  padding-left: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 220px;
  margin: 5px 0;
}
.input-btn{
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  width: 220px;
}