div.nav-container
  div.nav-left
    a.nav-link-left(href='#') Express Mongo Crud
  div.nav-right
    a.nav-link-right(href="/") Home
    a.nav-link-right(href="/admin/users") Users
    a.nav-link-right(href="/admin/contact") Contact
    a.nav-link-right(href="/login") Login
    a.nav-link-right(href="/register") Register
    a.nav-link-right(href="/logout") Logout