<h1>Form</h1>
<div class="con">
  <div class="form-items">
    <input type="text" class="input-text" [(ngModel)]="username" style="margin-right: 10px;" placeholder="Username" />
    <input type="password" class="input-text" [(ngModel)]="password" placeholder="password" />
  </div>
  <div class="form-items">
    <select [(ngModel)]="lang">
      <option value="Html">Html</option>
      <option value="Hss">Css</option>
      <option value="Javascript">Javascript</option>
    </select>
  </div>
  <div class="form-items">
    <input type="checkbox" (change)="getHobbies('Sport')" id="sport" />
    <label for="sport">Sport</label>
    <input type="checkbox"  (change)="getHobbies('Reading')" id="reading"  />
    <label for="reading">Reading</label>
    <input type="checkbox" (change)="getHobbies('Movies')" id="movies" />
    <label for="movies">Movies</label>
  </div>

  <div class="form-items">
    <input type="radio" name="gender" (change)="getGender('Male')" id="mail" />
    <label for="mail">Mail</label>
    <input type="radio" name="gender" (change)="getGender('Female')" id="femail" />
    <label for="femail">Femail</label>
  </div>
  <div>
    <p>{{username}} {{password}}</p>
    <p>{{lang}}</p>
    <p>{{hobbies}}</p>
    <p>{{gender}}</p>
  </div>
  <div class="form-items">
    <button (click) = "getForms()">Get Forms</button>
  </div>
</div>
