body{
  margin: 0;
  padding: 0;
}

.container{width: 80%;}

.dropdown{
  margin-right: 10px;
}
.dropdown-toggle {
  border: none;
  background: transparent;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  padding: 0;
  border: 2px solid #ccc;
}
.dropdown-menu[data-bs-popper]{
  left: 60px;
  margin-top: 10px;
}
.card{
  box-shadow: 2px 2px 5px #ddd, 2px 2px 5px #ddd;
  margin: 5px;
  min-height: 605px;
}
.card img{
  max-height: 400px;
  width: 100%;
}

.updateImage{
  max-width: 200px;
}