*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-size-adjust: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
:root {
  --black: #171c24;
  --green: rgb(58, 90, 64);
  --lightblue: cornflowerblue;
  --lightgreen: rgb(46, 139, 87);
  --red: rgb(185, 14, 14);
  --radius: 3px;
  --radiuslarge: 6px;
  --yellow: rgb(201, 201, 58);
  --white: #fff;
  --darkwhite: #f1f1f1;
  --orange: rgb(135 60 16);
}
.f{
  display: flex;
  width: 100%;
}
.fjsb{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.fac{
  display: flex;
  align-items: center;
}
.fjcac{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fjeac{
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
}
.fjsac{
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
}
.fjsaac{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.fjsbac{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.f-col{
  display: flex;
  flex-direction: column;
}
.fjcac-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fjeac-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fjsaac-col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cl-r {
  color: var(--red);
}
.cl-g {
  color: var(--green);
}
.cl-y {
  color: var(--yellow);
}
.cl-o {
  color: var(--orange);
}
.cl-w {
  color: var(--white);
}
.cl-lb {
  color: var(--lightblue);
}
.bg-lb {
  background-color: var(--lightblue);
  color: var(--white);
}
.bg-r {
  background-color: var(--red);
  color: var(--white);
}
.bg-g {
  background-color: var(--green);
  color: var(--white);
}
.bg-lg {
  background-color: var(--lightgreen) !important;
  color: var(--white) !important;
}
.bg-o {
  background-color: var(--orange);
  color: var(--white);
}
.bg-y {
  background-color: var(--yellow);
  color: var(--white);
}
.bg-l {
  background-color: #ddd;
  color: var(--black);
}
.cp{
  cursor: pointer;
}
.m3{
  margin: 0 3px;
}
.mt5{
  margin-top: 5px;
}
.mr10{
  margin-right: 10px;
}
.ml10{
  margin-left: 10px;
}
.ml20{
  margin-left: 20px;
}
.mb10{
  margin-bottom: 10px;
}
.mtb50{
  margin: 50px 0;
}
.mtb5{margin: 5px 0;}
.strict-width{
  max-width: 80%;
}
