html,body,h1,h2,h3,h4,h5,h6,div{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  width: 100%;
}

.topbar, .navbar{
  width: 100%;
  background-color: #000;
  color: #fff;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1200px;
  background-color: #ccc;
}
.go-top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}

a{color: #fff;}