*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  width: 100%;
}

.navbar{
  display: flex;
  align-items: center;
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #222;
  color: #fff;
  padding: 0 20px;
}
.container{
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #ccc;
  padding-top: 80px;
}
.go-top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}

a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin: 0 15px;
}