*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #000;
  height: 64px;
}
.links, .active{
  margin: 0 15px;
  font-size: 22px;
  text-decoration: none;
}
.links{color: #fff;}
.active{color: green;}
.router{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
ul{
  list-style: none;
  margin-top: 50px;
  width: 600px;
}
ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 43px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0 5px;
  margin: 5px 0;
}
ul li span{width: 200px;}
form{
  display: flex;
  flex-direction: column;
}
form input{
  margin: 5px 0;
}