body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 20px;
  background-color: #000;
}
.links{
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  margin: 0 15px;
}
.active{color: green;}
.router{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}