*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  padding: 30px;
}
.router {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.navbar{
  display: flex;
  margin: 30px;
}
a{
  margin: 0 15px;
  font-size: 18px;
}
a.active{color: red;}