*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3{
  text-align: center;
  margin: 30px;
}


#container{
  position: relative;
  width: 350px;
  height: 90px;
  max-height: 520px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  border-radius: 18px;
  font-family: 'Roboto', sans-serif;
}

.search-box{
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-box input{
  width: 80%;
  font-size: 18px;
  font-weight: 500;
  padding:5px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.search-box input::placeholder{
  font-size: 18px;
}
.search-box input:focus{
  background-color: beige;
  outline: none;
}

.search-box #searchBtn{
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 18px;
  border: 1px solid #ccc;
  transition: 0.4s ease;
}

.search-box #searchBtn:hover{
  color: #fff;
  background: cadetblue;
}

.search-box i{
  position: absolute;
  color: cadetblue;
  font-size: 28px;
}

#weather-box{
  text-align: center;
}

#weather-box #img{
  width: 60%;
  margin-top: 30px;
}

#weather-box #temperature{
  position: relative;
  color: cadetblue;
  font-size: 4rem;
  font-weight: 800;
  margin-top: 30px;
  margin-left: -16px;
}

#weather-box #temperature span{
  position: absolute;
  margin-left: 4px;
  font-size: 1.5rem;
}

#weather-box #description{
  color: cadetblue;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}

#weather-details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

#weather-details #humidity, #weather-details #wind{
  display: flex;
  align-items: center;
  width: 50%;
  height: 100px;
}

#weather-details #humidity{
  padding-left: 20px;
  justify-content: flex-start;
}

#weather-details #wind{
  padding-right: 20px;
  justify-content: flex-end;
}

#weather-details i{
  color: cadetblue;
  font-size: 26px;
  margin-right: 10px;
  margin-top: 6px;
}

#weather-details span{
  color: cadetblue;
  font-size: 22px;
  font-weight: 500;
}

#weather-details p{
  color: cadetblue;
  font-size: 14px;
  font-weight: 500;
}

#not-found{
  width: 100%;
  text-align: center;
  margin-top: 50px;
  scale: 0;
  opacity: 0;
  display: none;
}

#not-found img{
  width: 70%;
}

#not-found p{
  color: cadetblue;
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}

#weather-box, #weather-details{
  scale: 0;
  opacity: 0;
}

.fadeIn{
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn{
  to {
      scale: 1;
      opacity: 1;
  }
}