*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a{text-decoration: none;}
body{padding: 20px;}
.router{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.link{
  margin: 15px;
  font-size: 18px;
}
a.active{color: red;}
.user-list{
  margin-top: 5px;
}