nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.shadow.mb-5
  div.container-fluid
    a.navbar-brand(href='#') Express Mongo Crud
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    div(collapse.navbar-collapseid="navbarSupportedContent")
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current="page" href="/") Home
        li.nav-item
          a.nav-link(href="/users") Users
        li.nav-item