.container{
  display: flex;
  flex-direction: column;
  height: 84%;
}
.content-title{
  color: red;
  margin:0;
  padding:5px;
  border-top:1px solid #666;
}
.user-list{
  display: flex;
  flex-direction: column;
}
a{margin: 0 5px;}
input{margin: 10px 0;}
.message{
  padding: 0 120px;
}